@{
    ViewData["Title"] = "Inicio";
}

<section id="home_cards" class="rgb-section pt-2">
    <div class="container">
        <div class="row pb-4">
            <div id="ingreso" class="col-sm-5 offset-sm-1">
                <a href="Ingreso" class="card">
                    <div class="card-header">
                        <h3>Ingreso</h3>
                    </div>
                    <div class="card-body p-0">
                        <img class="h-100 w-100" src="~/img/ingreso.webp" alt="">
                    </div>
                </a>
            </div>
            <div id="retiro" class="col-sm-5">
                <a href="Retiro" class="card">
                    <div class="card-header">
                        <h3>Retiro</h3>
                    </div>
                    <div class="card-body p-0">
                        <img src="~/img/retiro.webp" alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div id="raw" class="col-sm-5 offset-sm-1">
                <a href="/raw" class="card">
                    <div class="card-header">
                        <h3>Despegue</h3>
                    </div>
                    <div class="card-body p-0">
                        <img src="~/img/despegue.jpg" alt="">
                    </div>
                </a>
            </div>
            <div id="aterrizaje" class="col-sm-5">
                <a href="/raw" class="card">
                    <div class="card-header">
                        <h3>Aterrizaje</h3>
                    </div>
                    <div class="card-body p-0">
                        <img src="~/img/aterrizaje.webp" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
