html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rgb-section-header {
  color: white;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.card {
  text-align: center;
}

.card-header {
  background-color: black !important;
  color: #ffffff !important;
  font-family: 'Cinzel', serif;
}

.card-link {
  color: rgb(22, 22, 22);
}

a {
  text-decoration: none !important;
}

a:link {
  text-decoration: none !important;
}

.card-body {
  height: 250px;
  max-height: 250px;
}

.card-body>img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.modal-header {
  color: #ffffff;
  background-color: black;
}

.btn-close {
  background-color: #ffffff;
}

hr.light-gradient-hr {
  clear: both;
  border: 0;
  background-image: linear-gradient(to right, white, transparent, white),
    linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
  background-image: -moz-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
  background-image: -ms-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
}

hr.light-gradient-hr.thick {
  height: 4px !important;
}